header {
    width: 100%;
    background-color:grey;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    width: 142px;
    height: 70px;
    background: url("icon.png") no-repeat center;
    background-size: contain;
    padding-left: 0.05%;
}

.title {
    width: auto;
    padding-left: 0%;

}
