body {
    background-color: #1d1d1d;
    color: #e1e1e1;
    font-family: Arial, sans-serif;
}

.schedule-container {
    width: 700px;
    margin: 20px right;
    background-color: #383434;
    border-radius: 10px;
    padding: 10px;
}

.schedule-header {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    color: #ff6700;
    border-bottom: 1px solid #444;
}

.schedule-time {
    padding: 15px;
    border-bottom: 1px solid #444;
    transition: background-color 0.2s ease;
}

.schedule-time:last-child {
    border-bottom: none;
}

.schedule-time:hover {
    background-color: #333;
    cursor: pointer;
}

.schedule-time.active {
    background-color: #ff6700;
    color: #1d1d1d;
}
footer {
  position: move;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #1d1d1d;
  border-top: 1px solid #111010;
}
/* the styles that handles sliding in the webpage */
.mySlides {
    display:none;
}
.w3-left, .w3-right, .w3-badge {
    cursor:pointer;
}
.w3-badge {
    height:13px;
    width:13px;
    padding:0;
}
